ML ZOOMCAMP: WEEK3 

HOMEWORK
Note: sometimes your answer doesn't match one of the options exactly. That's fine. Select the option that's closest to your solution.

Dataset: California Housing Prices data.

Here's a wget-able link:

wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
We'll keep working with the 'median_house_value' variable, and we'll transform it to a classification task.

Features
For the rest of the homework, you'll need to use only these columns:

'latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value',
'ocean_proximity',

In [1]:
#Load the libraries

import pandas as pd
import numpy as np
import matplotlib 
from matplotlib import pyplot as plt
import seaborn as sns
import sklearn

In [3]:
#load the data

housing=pd.DataFrame(pd.read_csv("housing_data.csv"))
housing.head(5)
#housing.shape

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY


DATA PREPARATION 
Select only the features from above and fill in the missing values with 0.
Create a new column rooms_per_household by dividing the column total_rooms by the column households from dataframe.
Create a new column bedrooms_per_room by dividing the column total_bedrooms by the column total_rooms from dataframe.
Create a new column population_per_household by dividing the column population by the column households from dataframe.

In [9]:
selected_columns=['latitude','longitude','housing_median_age','total_rooms','total_bedrooms','population',
                    'households','median_income','median_house_value','ocean_proximity']

df=housing.loc[:,selected_columns]
df.shape
df.isna().sum()
df=df.fillna(0)

df.isna().sum()

latitude              0
longitude             0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [11]:
#Create a new column rooms_per_household by dividing the column total_rooms by the column households from dataframe.
df['rooms_per_houshold']=df['total_rooms']/df['households']

#Create a new column bedrooms_per_room by dividing the column total_bedrooms by the column total_rooms from dataframe.
df['bedrooms_per_room']=df['total_bedrooms']/df['total_rooms']

#Create a new column population_per_household by dividing the column population by the column households from dataframe.
df['population_per_household']=df['population']/df['households']

df.head(5)

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_houshold,bedrooms_per_room,population_per_household
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0.129516,2.802260
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,0.184458,2.547945
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,0.172096,2.181467


Question 1
What is the most frequent observation (mode) for the column ocean_proximity?

Options: [ NEAR BAY, <1H OCEAN, INLAND, NEAR OCEAN]

Split the data
Split your data in train/val/test sets, with 60%/20%/20% distribution.
Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
Make sure that the target value (median_house_value) is not in your dataframe.

In [13]:
df.ocean_proximity.mode()

#answer: <1H OCEAN

df.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.33, random_state=42)

y_train = df_train.median_house_value.values
y_val = df_val.median_house_value.values
y_test= df_test.median_house_value.values

X_train=df_train.drop(['median_house_value'],axis=1)
X_val=df_val.drop(['median_house_value'],axis=1)
X_test=df_test.drop(['median_house_value'],axis=1)


Question 2
Create the correlation matrix for the numerical features of your train dataset.
In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
What are the two features that have the biggest correlation in this dataset?

Options:

    -total_bedrooms and households !
    -total_bedrooms and total_rooms
    -population and households
    -population_per_household and total_rooms

In [22]:
X_train.dtypes
numerical=['latitude','longitude','housing_median_age','total_rooms','total_bedrooms','population',
           'households','median_income','ocean_proximity','rooms_per_houshold','bedrooms_per_room','population_per_household']


CorrMatrix= X_train[:][numerical].corr()
print(CorrMatrix)

                          latitude  longitude  housing_median_age  \
latitude                  1.000000  -0.925504            0.007037
longitude                -0.925504   1.000000           -0.106277
housing_median_age        0.007037  -0.106277            1.000000
total_rooms              -0.025530   0.036625           -0.362132
total_bedrooms           -0.058567   0.063111           -0.323591
population               -0.100619   0.091676           -0.290263
households               -0.062645   0.048792           -0.305350
median_income            -0.077813  -0.015290           -0.122955
rooms_per_houshold        0.119144  -0.033066           -0.181476
bedrooms_per_room        -0.122711   0.100753            0.129217
population_per_household -0.001169   0.010164            0.013359

                          total_rooms  total_bedrooms  population  households  \
latitude                    -0.025530       -0.058567   -0.100619   -0.062645
longitude                    0.036625        0.063111    0.091676    0.048792
housing_median_age          -0.362132       -0.323591   -0.290263   -0.305350
total_rooms                  1.000000        0.932113    0.852403    0.921965
total_bedrooms               0.932113        1.000000    0.876005    0.979031
population                   0.852403        0.876005    1.000000    0.906282
households                   0.921965        0.979031    0.906282    1.000000
median_income                0.200368       -0.007554   -0.000876    0.014107
rooms_per_houshold           0.165927        0.010615   -0.077352   -0.086164
bedrooms_per_room           -0.192733        0.077793    0.032224    0.057602
population_per_household    -0.029612       -0.034248    0.065416   -0.032528

                          median_income  rooms_per_houshold  \
latitude                      -0.077813            0.119144
longitude                     -0.015290           -0.033066
housing_median_age            -0.122955           -0.181476
total_rooms                    0.200368            0.165927
total_bedrooms                -0.007554            0.010615
population                    -0.000876           -0.077352
households                     0.014107           -0.086164
median_income                  1.000000            0.388501
rooms_per_houshold             0.388501            1.000000
bedrooms_per_room             -0.616335           -0.492828
population_per_household      -0.000057            0.001776

                          bedrooms_per_room  population_per_household
latitude                          -0.122711                 -0.001169
longitude                          0.100753                  0.010164
housing_median_age                 0.129217                  0.013359
total_rooms                       -0.192733                 -0.029612
total_bedrooms                     0.077793                 -0.034248
population                         0.032224                  0.065416
households                         0.057602                 -0.032528
median_income                     -0.616335                 -0.000057
rooms_per_houshold                -0.492828                  0.001776
bedrooms_per_room                  1.000000                 -0.002753
population_per_household          -0.002753                  1.000000

Make median_house_value binary
We need to turn the median_house_value variable from numeric into binary.
Let's create a variable above_average which is 1 if the median_house_value is above its mean value and 0 otherwise.

In [34]:
threshold=y_train.mean()
print(threshold)

y_train_binary = pd.Series(map(lambda x: 1 if x>threshold else 0, y_train))
print(y_train_binary)
#y_train['above_average']=y_train['median_house_value'].apply(lambda x: 1 if x > threshold else 0)

206818.29621260057
0        0
1        0
2        0
3        0
4        1
        ..
11058    0
11059    0
11060    1
11061    0
11062    0
Length: 11063, dtype: int64

Question 3
Calculate the mutual information score with the (binarized) price for the categorical variable that we have. Use the training set only.
What is the value of mutual information?
Round it to 2 decimal digits using round(score, 2)

Options: [0.26,0,0.10,0.16]

In [ ]:
from sklearn.metrics import mutual_info_score

def calculate_mi(series):
    return mutual_info_score(series, df_train_full.churn)

df_mi = df_train_full[categorical].apply(calculate_mi)
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI')


display(df_mi.head())
display(df_mi.tail())


Question 4
Now let's train a logistic regression
Remember that we have one categorical variable ocean_proximity in the data. Include it using one-hot encoding.
Fit the model on the training dataset.

To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:

    model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)

Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

Options: [0.60,0.72,0.84,0.95]

Question 5

Let's find the least useful feature using the feature elimination technique.
Train a model with all these features (using the same parameters as in Q4).

Now exclude each feature from this set and train a model without it. Record the accuracy for each model.

For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?
    total_rooms
    total_bedrooms
    population
    households

NOTE: the difference doesn't have to be positive

Question 6
For this question, we'll see how to use a linear regression model from Scikit-Learn

We'll need to use the original column 'median_house_value'. Apply the logarithmic transformation to this column.

Fit the Ridge regression model (model = Ridge(alpha=a, solver="sag", random_state=42)) on the training data.

This model has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10]
Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.
If there are multiple options, select the smallest alpha.

Options: [0,0.01,0.1,1,10]

Submit the results
Submit your results here: https://forms.gle/vQXAnQDeqA81HSu86
You can submit your solution multiple times. In this case, only the last submission will be used
If your answer doesn't match options exactly, select the closest one
Deadline
The deadline for submitting is 26 September (Monday), 23:00 CEST.

After that, the form will be closed.